body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; 
  overflow-y: scroll;
  scrollbar-width: none !important;
  color: #E9DFCE;
  background-color: #131417;
  font-family: 'Montserrat', sans-serif;
}

html::-webkit-scrollbar {
  display: none !important; 
}

.navbar-wrapper {
  height: 90px; 
  overflow: hidden; 
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1020; 
}

.navbar {
  background-color: rgba(0, 0, 0, 0); 
  position: fixed; 
  width: 100%;
  z-index: 1030; 
  transition: height 0.3s ease-in-out, top 0.3s ease-in-out;
  height: 90px; 
}

.navbar.scrolled {
  background-color: rgb(13, 13, 13, 1); 
  height: 56px; 
  top: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #8EE4FF;
}

.navbar-nav .nav-item .nav-link.active {
  color: #8EE4FF; 
}

.navbar-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 8px;
  margin-top: -3px;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out; 
  color: #fff;
}

.navbar-brand.expanded {
  transform: scale(1.3); 
}

#header {
  height: 100vh;
  position: relative; 
  background: url('../imgs/bg.jpg') center/cover fixed no-repeat;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-weight: bold;
}

#header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0) 
  );
  z-index: 1;
}

.header-content {
  position: absolute;
  top: 145px; 
  left: 240px; 
  text-align: center; 
  color: #fff;
  z-index: 2;
}

#header h1 {
  font-size: 130px;
  margin-bottom: 5px;
}

#header h2 {
  font-size: 50px;
  font-style: italic;
  margin-top: 0;
  font-weight: normal !important;
}

.btn-enter-portfolio {
  display: inline-block;
  margin-top: 390px;
  padding: 15px 25px;
  font-size: 25px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-enter-portfolio:hover {
  background-color: #D1D1D1;
}

section, .section-image {
  position: relative;
  padding: 40px 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  margin: 0; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  text-align: center;
}

section h2 {
  font-weight: bold;
  font-size: 35px;
  margin-top: 35px;
}

section p {
  font-size: 18px;
}

.expandable-section {
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 15px;
  overflow: hidden; 
  padding: 40px 80px; 
  margin: 70px auto;
}

.expandable-section.expanded {
  background-color: #EB5939;
  color: #131417;
  transform: scale(1.1);
}

h2 {
  font-size: 42px !important;
}

h3 {
  font-size: 26px !important;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 50px;
}

.profile-pic {
  border: 8px solid #E9DFCE;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 700px;
}

.profile-pic.profile-pic-border-changed {
  border: 8px solid #131417; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.about-content {
  position: absolute;
  max-width: 650px;
  text-align: left;
  margin-top: -400px;
  transform: translateX(400px);
}

.social-buttons {
  display: flex;
  gap: 15px; 
  margin-top: 20px; 
  align-items: center; 
  margin-left: 95px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: #EB5939;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease;
  overflow: hidden; 
}

.social-button img {
  width: 24px;
  height: 24px;
}

.social-button:hover {
  background-color: #8EE4FF !important; 
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.portfolio-buttons a {
  display: inline-block;
  padding: 16px 28px;
  font-size: 18px;
  color: #E9DFCE;
  background-color: #EB5939;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.portfolio-buttons a:hover {
  background-color: #8EE4FF !important;
  transform: scale(1.08);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
}

.portfolio-buttons a.expanded,
.social-button.expanded {
  background-color: #131417;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#skills {
  text-align: center;
}

.skills-content {
  display: grid; 
  grid-template-columns: repeat(3, auto); 
  gap: 50px; 
  justify-content: center; 
  margin-top: 30px;
}

.skills-content > div {
  background-color: #444673;
  color: #E9DFCE;
  padding: 20px;
  border-radius: 15px;
  width: 300px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-content > div:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.skills-content h3 {
  margin-bottom: 10px;
}

#skills h2 {
  margin-bottom: 10px;
}

.skill-logo-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 20px auto;
}

.skill-logo {
  width: 60%;
  height: auto;
}

#projects {
  padding: 40px 0;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  margin: 20px 0;
  padding: 20px;
  background-color: #444673;
  color: #E9DFCE;
  width: 1000px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project a {
  text-decoration: none;
  color: #E9DFCE;
}

.projects-button {
  text-align: center; 
  margin-top: 30px;
}

.projects-button a {
  display: inline-flex; 
  align-items: center;
  padding: 12px 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.projects-button a:hover {
  background-color: #8EE4FF !important;
  transform: scale(1.08);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
}

.projects-footer {
  margin-top: 50px;
}

.btn-icon {
  width: 24px; 
  height: 24px;
  margin-left: 10px; 
}

.btn-visit-github {
  display: inline-block;
  padding: 16px 28px;
  font-size: 18px;
  border-radius: 15px;
  background-color: #EB5939;
  color: #E9DFCE;
  text-decoration: none;
}

.btn-visit-github.expanded {
  background-color: #131417;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.timeline-container {
  position: relative;

  margin: 50px auto;
  padding: 40px 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
  width: 50%;
}

.timeline-left {
  left: 0;
  text-align: right;
}

.timeline-right {
  left: 50%;
  text-align: left;
}

.timeline-container::before {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #444673;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.timeline-content {
  position: relative;
  top: -40px;
  background-color: #444673;
  color: #E9DFCE;
  border-radius: 15px;
  padding: 30px;
}

.timeline-left .timeline-content {
  margin-left: auto;
  margin-right: 130px;
}

.timeline-right .timeline-content {
  margin-left: 130px; 
  margin-right: auto;
}

.timeline-image {
  position: absolute;
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  background-color: #fff;
  border: 8px solid #444673;
  top: 60px;
  transform: translateY(-50%);
}

.timeline-left .timeline-image {
  right: -100px; 
}

.timeline-right .timeline-image {
  left: -100px; 
}

#contact {
  position: relative; 
  padding-bottom: 81px;
  padding-top: 81px;
  font-size: 16px; 
  background-color: #0D0D0D;
}

#contact img.contact-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#contact-content {
  position: relative; 
}

#contact h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

#contact h4 {
  color: #D1D1D1;
  margin-bottom: 55px;
}

.contact-info {
  color: #8EE4FF !important;
  font-style: none;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 20px auto;
  align-items: start; 
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  pointer-events: auto;
  z-index: 3;
}

textarea {
  resize: none;
  height: 250px;
}

input[type="text"],
input[type="email"] {
  height: 70px;
}

.submit-btn-container {
  display: grid;
  grid-column: 1 / -1;
  justify-content: center;
  width: 100%; 
}

button[type="submit"] {
  padding: 16px 28px;
  font-size: 18px;
  color: #E9DFCE;
  background-color: #000;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  z-index: 3;
}


button[type="submit"]:hover {
  background-color: #6cc0e4;
}

.footer {
  height: 150px;
  background-color: #E9DFCE;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-left p {
  margin: 0;
}

.footer-social-buttons {
  display: flex;
  gap: 15px;
}

.footer-social-buttons a {
   background-color: #000;
}

.footer-right {
  display: flex;
  gap: 15px;
}

.footer-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #8EE4FF; 
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: block; 
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  border-radius: 10%;
  background: rgba(52, 58, 64, 0.5);
  line-height: 60px;
  font-size: 24px;
  text-decoration: none;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out; 
  z-index: 3;
  font-family: 'Courier New', monospace !important;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible; 
}

.scroll-to-top:hover {
  background: rgba(52, 58, 64, 0.8);
}
